# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
call_summarization.egg-info
/build
/dist
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.backup/
.pytest_cache/
__pycache__/
.coverage*
coverage.xml*
.vscode*
.nfs*
.python-version
.worktree
*.log
.d000*
*.err
*.out
.ipynb_checkpoints/
.venv/

*.zip